/*  Sinter Framework
    https://github.com/idangazit/sinter

    Contains code by Joni Korpi, William Wells, Eric A. Meyer, Nathan Smith,
    and Christopher M. Eppstein. See LICENSE.txt for full details.

    Sinter provides a responsive, fixed grid, with 60px columns and 20px
    gutters. It is intended to be used at the following dimensions:

    320px:  4 columns = 300px + 10px padding
    480px:  6 columns = 460px + 10px padding
    768px:  9 columns = 700px + 34px padding
    960px:  12 columns = 940px + 10px padding
    1200px: 15 columns = 1180px + 10px padding
    1280px: 16 columns = 1260px + 10px padding
*/


// Fundamental variables: you probably don't want to change these.

$sinter-column-width: 60px !default;
$sinter-gutter-width: 20px !default;


// Math functions

@function column-width($cols) {
    @return ($sinter-column-width * $cols) + ($sinter-gutter-width * ($cols - 1));
}

@function grid-padding-px($cols) {
    @if $cols == 9 {
        @return 34px; // 768px layout :(
    } @else {
        @return 10px;
    }
}

@function input-width($cols, $border: 0, $padding: 0) {
    @return column-width($cols) - (2 * $border) - (2 * $padding);
}


// The Grid

@mixin grid($cols) { // the complete grid itself, centered
    @include clearfix;
    width: column-width($cols);
    padding-left: grid-padding-px($cols);
    padding-right: grid-padding-px($cols);
    margin-left: auto;
    margin-right: auto;
}

@mixin columns($cols) { // number of columns for the element
    display: inline; // IE6 double-margin fix.
    float: left;     // This triggers block mode on normal browsers.
    width: column-width($cols);
    margin-right: $sinter-gutter-width / 2;
    margin-left: $sinter-gutter-width / 2;
}

@mixin prefix($cols) { // $cols blank columns before the element
    padding-left: column-width($cols) + $sinter-gutter-width;
}

@mixin suffix($cols) { // $cols blank columns after the element
    padding-right: column-width($cols) + $sinter-gutter-width;
}

@mixin pad($cols) { // $cols blank columns on each side of the element
    @include prefix($cols);
    @include suffix($cols);
}

@mixin alpha { margin-left: 0; } // no left gutter
@mixin omega { margin-right: 0; } // no right gutter

@mixin full($cols, $pad: 0) { // utility mixin
    @include columns($cols);
    @include pad($pad);
    @include alpha;
    @include omega;
}



// Toys

@mixin sinter-grid-background($cols) { // display the grid itself
  @include column-grid-background(
    $cols,
    $sinter-column-width,
    $sinter-gutter-width,
    grid-padding-px($cols));
}

@mixin accessible-selection-color($color) { // get a contrasting color
    $textcolor: contrast-color($color);
    ::selection {
        background: $color;
        color: $textcolor;
    }
    ::-moz-selection {
        background: $color;
        color: $textcolor;
    }
    img::selection { background: transparent; }
    img::-moz-selection { background: transparent; }
    body { -webkit-tap-highlight-color: $color; }
}
